Repository Geant4/geant4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drbenmorgan, @gunterfolger, @gcosmo, @makotoasai, @jrmadsen, @ts-kek, @amakoG4AI, @jonapost, @marcverderi, @civanch, @dsawkey, @sincerti, @pandola, @AlbertoRibon, @WitekPokorski, @ihrivnac, @koichi-murakami, @laurent-garnier, @jiperl, @johna1941, @hanswenzel, @ashoward, @guatelli, @romanofrancesco, @whokion

.github/CODEOWNERS:

# Codeowners for Geant4 (GitHub Version)
# Maps directories to Working Group Coordinators

# Software Management
/CMakeLists.txt @drbenmorgan
/cmake/         @drbenmorgan @gunterfolger
/config/        @gcosmo
/ReleaseNotes/  @gcosmo
/source/global/ @gcosmo @drbenmorgan @gunterfolger

# Run, Event, and Detector Response
/source/run/              @makotoasai @jrmadsen
/source/event/            @makotoasai @jrmadsen
/source/digits_hits/      @makotoasai @jrmadsen
/source/processes/scoring @makotoasai @jrmadsen

# Tracking
/source/tracking/ @ts-kek @amakoG4AI @makotoasai

# Particles and Track
# TBA: Hisaya Kurashige
/source/track/     @makotoasai
/source/particles/ @makotoasai

# Geometry and Transport
/source/geometry/                 @gcosmo @jonapost
/source/processes/transportation/ @gcosmo @jonapost

# Generic Processes and Materials
/source/materials/                  @marcverderi @civanch
/source/parameterisations/          @marcverderi
/source/processes/biasing/          @marcverderi @civanch
/source/processes/parameterisation/ @marcverderi @civanch

# Electromagnetic Standard Physics
/source/processes/electromagnetic/highenergy/   @civanch @dsawkey
/source/processes/electromagnetic/muons/        @civanch @dsawkey
/source/processes/electromagnetic/polarisation/ @civanch @dsawkey
/source/processes/electromagnetic/standard/     @civanch @dsawkey
/source/processes/electromagnetic/xrays/        @civanch @dsawkey
/source/processes/optical/                      @civanch @dsawkey

# Low Energy Electromagnetic Physics
/source/processes/electromagnetic/dna/       @sincerti @pandola
/source/processes/electromagnetic/lowenergy/ @sincerti @pandola
/source/processes/electromagnetic/pii/       @sincerti @pandola

# Hadronic Physics
# TBA: Dennis Wright
/source/processes/hadronic/ @AlbertoRibon

# Persistency
/source/persistency/ @gcosmo @WitekPokorski
/source/analysis/    @ihrivnac

# User and Category Interfaces
# TBA: Hajime Yoshida
/source/intercoms/  @koichi-murakami @makotoasai
/source/interfaces/ @koichi-murakami @laurent-garnier
/environments/      @koichi-murakami

# Visualization
/source/graphics_reps/ @laurent-garnier @jiperl @johna1941
/source/visualization/ @laurent-garnier @jiperl @johna1941

# Physics Lists
/source/physics_lists/ @gunterfolger @hanswenzel

# Novice+Extended Examples (Individual Examples assigned to Responsibles)
/examples/basic/    @ihrivnac @ashoward
/examples/novice/   @ihrivnac @ashoward
/examples/extended/ @ihrivnac @ashoward

# Advanced Examples (Can be extended with responsibles per example)
/examples/advanced/ @guatelli @romanofrancesco

# Testing
/tests/ @gunterfolger @whokion

Remove merge conflicts.
  CMakeLists.txt
Owners: @drbenmorgan

Added an option to use a statically linked runtime library on Windows.
  CMakeLists.txt
  cmake/Modules/G4BuildSettings.cmake
Owners: @drbenmorgan, @gunterfolger

Fixed typos.
  cmake/Modules/G4BuildSettings.cmake
Owners: @drbenmorgan, @gunterfolger

added fastAerosol advanced example
  examples/advanced/fastAerosol/CMakeLists.txt
  examples/advanced/fastAerosol/GNUmakefile
  examples/advanced/fastAerosol/README.txt
  examples/advanced/fastAerosol/aerosol.cc
  examples/advanced/fastAerosol/include/FAActionInitialization.hh
  examples/advanced/fastAerosol/include/FACloudParameterisation.hh
  examples/advanced/fastAerosol/include/FADetectorConstruction.hh
  examples/advanced/fastAerosol/include/FADetectorConstructionMessenger.hh
  examples/advanced/fastAerosol/include/FAEventAction.hh
  examples/advanced/fastAerosol/include/FAPrimaryGeneratorAction.hh
  examples/advanced/fastAerosol/include/FARunAction.hh
  examples/advanced/fastAerosol/include/FASteppingAction.hh
  examples/advanced/fastAerosol/include/fastAerosol.hh
  examples/advanced/fastAerosol/include/fastAerosol.icc
  examples/advanced/fastAerosol/include/fastAerosolSolid.hh
  examples/advanced/fastAerosol/include/fastAerosolSolid.icc
  examples/advanced/fastAerosol/init_vis.mac
  examples/advanced/fastAerosol/src/FAActionInitialization.cc
  examples/advanced/fastAerosol/src/FACloudParameterisation.cc
  examples/advanced/fastAerosol/src/FADetectorConstruction.cc
  examples/advanced/fastAerosol/src/FADetectorConstructionMessenger.cc
  examples/advanced/fastAerosol/src/FAEventAction.cc
  examples/advanced/fastAerosol/src/FAPrimaryGeneratorAction.cc
  examples/advanced/fastAerosol/src/FARunAction.cc
  examples/advanced/fastAerosol/src/FASteppingAction.cc
  examples/advanced/fastAerosol/src/fastAerosol.cc
  examples/advanced/fastAerosol/src/fastAerosolSolid.cc
  examples/advanced/fastAerosol/test.mac
  examples/advanced/fastAerosol/vis.mac
Owners: @guatelli, @romanofrancesco

typo
  examples/advanced/fastAerosol/README.txt
Owners: @guatelli, @romanofrancesco

clarified comments
  examples/advanced/fastAerosol/test.mac
Owners: @guatelli, @romanofrancesco

more clarification on cloud build type
  examples/advanced/fastAerosol/test.mac
Owners: @guatelli, @romanofrancesco

README rework, variable name updates, author details
  examples/advanced/fastAerosol/README.txt
  examples/advanced/fastAerosol/aerosol.cc
  examples/advanced/fastAerosol/include/FAActionInitialization.hh
  examples/advanced/fastAerosol/include/FACloudParameterisation.hh
  examples/advanced/fastAerosol/include/FADetectorConstruction.hh
  examples/advanced/fastAerosol/include/FADetectorConstructionMessenger.hh
  examples/advanced/fastAerosol/include/FAEventAction.hh
  examples/advanced/fastAerosol/include/FAPrimaryGeneratorAction.hh
  examples/advanced/fastAerosol/include/FARunAction.hh
  examples/advanced/fastAerosol/include/FASteppingAction.hh
  examples/advanced/fastAerosol/include/FastAerosol.hh
  examples/advanced/fastAerosol/include/FastAerosol.icc
  examples/advanced/fastAerosol/include/FastAerosolSolid.hh
  examples/advanced/fastAerosol/include/FastAerosolSolid.icc
  examples/advanced/fastAerosol/src/FAActionInitialization.cc
  examples/advanced/fastAerosol/src/FACloudParameterisation.cc
  examples/advanced/fastAerosol/src/FADetectorConstruction.cc
  examples/advanced/fastAerosol/src/FADetectorConstructionMessenger.cc
  examples/advanced/fastAerosol/src/FAEventAction.cc
  examples/advanced/fastAerosol/src/FAPrimaryGeneratorAction.cc
  examples/advanced/fastAerosol/src/FARunAction.cc
  examples/advanced/fastAerosol/src/FASteppingAction.cc
  examples/advanced/fastAerosol/src/FastAerosol.cc
  examples/advanced/fastAerosol/src/FastAerosolSolid.cc
  examples/advanced/fastAerosol/test.mac
Owners: @guatelli, @romanofrancesco

Disable copying of G4PhysicalVolumeStore.
  source/geometry/management/include/G4PhysicalVolumeStore.hh
Owners: @gcosmo, @jonapost

C++ standard handled by CMAKE_CXX_STANDARD.
  cmake/Modules/G4BuildSettings.cmake
  cmake/Modules/G4ConfigureCMakeHelpers.cmake
  cmake/Templates/Geant4Config.cmake.in
  cmake/Templates/geant4-config.in
  config/architecture.gmk
  config/sys/Darwin-clang.gmk
  config/sys/Darwin-g++.gmk
  config/sys/Linux-clang.gmk
  config/sys/Linux-g++.gmk
  config/sys/Linux-icc.gmk
  config/sys/WIN32-g++.gmk
  source/global/management/include/G4GlobalConfig.hh.in
  source/intercoms/include/G4AnyMethod.hh
  source/processes/hadronic/management/src/G4HadronicProcessStore.cc
Owners: @drbenmorgan, @gunterfolger, @gcosmo, @koichi-murakami, @makotoasai, @AlbertoRibon

Removed potentially unncecessary language feature support check.
  cmake/Modules/G4BuildSettings.cmake
  cmake/Modules/G4DeveloperAPI_OLD.cmake
Owners: @drbenmorgan, @gunterfolger

Reverted modifications to GNUMake config files.
  config/architecture.gmk
  config/sys/Darwin-clang.gmk
  config/sys/Darwin-g++.gmk
  config/sys/Linux-clang.gmk
  config/sys/Linux-g++.gmk
  config/sys/Linux-icc.gmk
  config/sys/WIN32-g++.gmk
Owners: @gcosmo

changes to (hopefully) remove various windows warnings
  examples/advanced/fastAerosol/include/FastAerosol.hh
  examples/advanced/fastAerosol/src/FADetectorConstruction.cc
  examples/advanced/fastAerosol/src/FastAerosolSolid.cc
Owners: @guatelli, @romanofrancesco

various changes for windows compatability (explicitly casting variables, reordering includes, moving includes, logical symbols)
  examples/advanced/fastAerosol/CMakeLists.txt
  examples/advanced/fastAerosol/aerosol.cc
  examples/advanced/fastAerosol/include/FADetectorConstruction.hh
  examples/advanced/fastAerosol/include/FastAerosol.hh
  examples/advanced/fastAerosol/src/FADetectorConstruction.cc
  examples/advanced/fastAerosol/src/FastAerosol.cc
Owners: @guatelli, @romanofrancesco

Expose PhysListFactory in g4py
  environments/g4py/source/physics_lists/CMakeLists.txt
  environments/g4py/source/physics_lists/pyPhysListFactory.cc
Owners: @koichi-murakami

fix some common typos
  source/analysis/accumulables/src/G4AccumulableManager.cc
  source/analysis/hntools/include/G4MPIToolsManager.hh
  source/analysis/management/src/G4AnalysisMessengerHelper.cc
  source/digits_hits/detector/src/G4SDStructure.cc
  source/processes/electromagnetic/utils/include/G4EmSaturation.hh
  source/processes/hadronic/cross_sections/src/G4ZeroXS.cc
  source/processes/hadronic/models/lend/src/nf_utilities.cc
  source/visualization/OpenGL/src/G4OpenGLQtViewer.cc
  source/visualization/OpenGL/src/G4OpenGLWtViewer.cc
  source/visualization/OpenGL/src/G4VisFeaturesOfOpenGL.cc
Owners: @ihrivnac, @makotoasai, @jrmadsen, @AlbertoRibon, @laurent-garnier, @jiperl, @johna1941

Update G4OptionalComponents.cmake
  cmake/Modules/G4OptionalComponents.cmake
Owners: @drbenmorgan, @gunterfolger

Update G4OptionalComponents.cmake
  cmake/Modules/G4OptionalComponents.cmake
Owners: @drbenmorgan, @gunterfolger

Update
  examples/extended/CMakeLists.txt
  examples/extended/eventgeneratorHepMC3/HepMC/HepMCEx01/CMakeLists.txt
  examples/extended/eventgeneratorHepMC3/HepMC/HepMCEx02/CMakeLists.txt
  examples/extended/eventgeneratorHepMC3/HepMC/MCTruth/CMakeLists.txt
Owners: @ihrivnac, @ashoward

Update
  examples/extended/eventgenerator/HepMC3/.README.txt
  examples/extended/eventgenerator/HepMC3/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/MCTruth/README
  examples/extended/eventgenerator/HepMC3/MCTruth/include/MCTruthManager.hh
  examples/extended/eventgenerator/HepMC3/MCTruth/src/MCTruthManager.cc
  examples/extended/eventgenerator/HepMC3/README
  examples/extended/eventgenerator/HepMC3/cmake/Modules/FindHepMC2.cmake
Owners: @ihrivnac, @ashoward

Fix installation error with brew GL package
  cmake/Modules/FindXQuartzGL.cmake
Owners: @drbenmorgan, @gunterfolger

More cleanup
  examples/extended/eventgenerator/HepMC3/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/HepMCEx01/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/HepMCEx01/HepMCEx01.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx01/History
  examples/extended/eventgenerator/HepMC3/HepMCEx01/data/example_MyPythia.cxx
  examples/extended/eventgenerator/HepMC3/HepMCEx01/include/HepMCG4AsciiReader.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx01/include/HepMCG4AsciiReaderMessenger.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx01/include/HepMCG4Interface.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx01/include/HepMCG4PythiaInterface.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx01/include/HepMCG4PythiaMessenger.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx01/src/ExN04PrimaryGeneratorAction.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/HepMCEx02/HepMCEx02.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/History
  examples/extended/eventgenerator/HepMC3/HepMCEx02/data/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/HepMCEx02/include/HepMCG4AsciiReader.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx02/include/HepMCG4AsciiReaderMessenger.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx02/include/HepMCG4Interface.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx02/include/HepMCG4PythiaInterface.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx02/include/HepMCG4PythiaMessenger.hh
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/H02PrimaryGeneratorAction.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/HepMCG4AsciiReader.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/HepMCG4AsciiReaderMessenger.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/HepMCG4Interface.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/HepMCG4PythiaInterface.cc
  examples/extended/eventgenerator/HepMC3/HepMCEx02/src/HepMCG4PythiaMessenger.cc
  examples/extended/eventgenerator/HepMC3/MCTruth/CMakeLists.txt
  examples/extended/eventgenerator/HepMC3/MCTruth/History
  examples/extended/eventgenerator/HepMC3/MCTruth/include/MCTruthManager.hh
  examples/extended/eventgenerator/HepMC3/MCTruth/mctruthex.cc
  examples/extended/eventgenerator/HepMC3/MCTruth/src/MCTruthManager.cc
Owners: @ihrivnac, @ashoward

Minor fix in gdml code
  source/persistency/gdml/src/G4GDMLParser.cc
Owners: @gcosmo, @WitekPokorski

Fixed OpenGL driver (now it is interactive). Moreover, corrected G4UIExecutive to ensure that in Windows 'win32' is selected as the second option.
  source/interfaces/basic/src/G4UIExecutive.cc
  source/visualization/OpenGL/include/G4OpenGLWin32Viewer.hh
  source/visualization/OpenGL/src/G4OpenGLWin32Viewer.cc
Owners: @koichi-murakami, @laurent-garnier, @jiperl, @johna1941

Need to continue after decay from J=0 to update polarization for daughter state following decay
  source/processes/hadronic/models/de_excitation/photon_evaporation/src/G4PolarizationTransition.cc
Owners: @AlbertoRibon

Reimplemented G4UIWin32 interface.
  source/CMakeLists.txt
  source/interfaces/basic/include/G4UIWin32.hh
  source/interfaces/basic/src/G4UIWin32.cc
  source/interfaces/common/src/G4Win32.cc
  source/visualization/OpenGL/src/G4OpenGLWin32Viewer.cc
Owners: @koichi-murakami, @laurent-garnier, @jiperl, @johna1941

POLYHEDRA in text Geometry fixed.
  source/persistency/ascii/src/G4tgbVolume.cc
Owners: @gcosmo, @WitekPokorski

Update gui.mac
  examples/advanced/STCyclotron/Macro/GUI/gui.mac
Owners: @guatelli, @romanofrancesco

Improve the branch ratio consistency in RDM: use the enum instead of number.
  source/processes/hadronic/models/radioactive_decay/include/G4RadioactiveDecayMode.hh
  source/processes/hadronic/models/radioactive_decay/src/G4Radioactivation.cc
  source/processes/hadronic/models/radioactive_decay/src/G4RadioactiveDecay.cc
  source/processes/hadronic/models/radioactive_decay/src/G4RadioactiveDecayBase.cc
Owners: @AlbertoRibon

Avoid possible buffer overflow in G4strstreambuf
  source/global/management/include/G4strstreambuf.icc
Owners: @gcosmo, @drbenmorgan, @gunterfolger

G4ScaledSolid and G4MultiUnion added in ascii geometry
  source/persistency/ascii/include/G4tgrSolidMulti.hh
  source/persistency/ascii/include/G4tgrSolidScale.hh
  source/persistency/ascii/sources.cmake
  source/persistency/ascii/src/G4tgbVolume.cc
  source/persistency/ascii/src/G4tgrSolidMulti.cc
  source/persistency/ascii/src/G4tgrSolidScale.cc
  source/persistency/ascii/src/G4tgrVolumeMgr.cc
Owners: @gcosmo, @WitekPokorski

Fixed syntax errors in ROOT script.
  examples/advanced/microelectronics/plot.C
Owners: @guatelli, @romanofrancesco

Update G4ParticleTable.cc
  source/particles/management/src/G4ParticleTable.cc
Owners: @makotoasai

Update CMakeLists.txt
  environments/g4py/CMakeLists.txt
Owners: @koichi-murakami

Update G4PythonHelpers.cmake
  environments/g4py/G4PythonHelpers.cmake
Owners: @koichi-murakami

recommended analysis manager directory option
  source/analysis/csv/include/G4CsvAnalysisManager.hh
  source/analysis/csv/include/G4CsvAnalysisManager.icc
  source/analysis/csv/src/G4CsvAnalysisManager.cc
  source/analysis/csv/src/G4CsvFileManager.cc
  source/analysis/xml/include/G4XmlAnalysisManager.hh
  source/analysis/xml/include/G4XmlAnalysisManager.icc
  source/analysis/xml/src/G4XmlFileManager.cc
  source/analysis/xml/src/G4XmlNtupleManager.cc
Owners: @ihrivnac

modified saving so that, if directory doesn't exist, Geant4 saves output as if no directory was entered
  source/analysis/csv/src/G4CsvAnalysisManager.cc
  source/analysis/csv/src/G4CsvFileManager.cc
  source/analysis/management/include/G4VAnalysisManager.hh
  source/analysis/management/include/G4VFileManager.hh
  source/analysis/management/src/G4VAnalysisManager.cc
  source/analysis/xml/src/G4XmlFileManager.cc
  source/analysis/xml/src/G4XmlNtupleManager.cc
Owners: @ihrivnac

added clarifying messages, fixed xml saving to actually use new code
  source/analysis/csv/include/G4CsvAnalysisManager.hh
  source/analysis/csv/src/G4CsvAnalysisManager.cc
  source/analysis/csv/src/G4CsvFileManager.cc
  source/analysis/management/include/G4VAnalysisManager.hh
  source/analysis/management/include/G4VFileManager.hh
  source/analysis/management/src/G4VAnalysisManager.cc
  source/analysis/xml/include/G4XmlAnalysisManager.hh
  source/analysis/xml/src/G4XmlAnalysisManager.cc
  source/analysis/xml/src/G4XmlFileManager.cc
  source/analysis/xml/src/G4XmlNtupleManager.cc
Owners: @ihrivnac

New macro to demonstrate usage of complex refractive index. Added other reflection and transmission types to histograms. Fixed command /opnovice2/gun/randomDirection.
  examples/extended/optical/OpNovice2/CMakeLists.txt
  examples/extended/optical/OpNovice2/History
  examples/extended/optical/OpNovice2/README
  examples/extended/optical/OpNovice2/complexRindex.mac
  examples/extended/optical/OpNovice2/src/PrimaryGeneratorMessenger.cc
  examples/extended/optical/OpNovice2/src/SteppingAction.cc
Owners: @ihrivnac, @ashoward

Fix bug https://bugzilla-geant4.kek.jp/show_bug.cgi?id=2455
  source/processes/electromagnetic/dna/utils/src/G4MoleculeGunMessenger.cc
Owners: @sincerti, @pandola
