Repository Geant4/geant4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drbenmorgan, @gunterfolger, @gcosmo, @makotoasai, @jrmadsen, @ts-kek, @amakoG4AI, @jonapost, @marcverderi, @civanch, @dsawkey, @sincerti, @pandola, @AlbertoRibon, @WitekPokorski, @ihrivnac, @koichi-murakami, @laurent-garnier, @jiperl, @johna1941, @hanswenzel, @ashoward, @guatelli, @romanofrancesco, @whokion

.github/CODEOWNERS:

# Codeowners for Geant4 (GitHub Version)
# Maps directories to Working Group Coordinators

# Software Management
/CMakeLists.txt @drbenmorgan
/cmake/         @drbenmorgan @gunterfolger
/config/        @gcosmo
/ReleaseNotes/  @gcosmo
/source/global/ @gcosmo @drbenmorgan @gunterfolger

# Run, Event, and Detector Response
/source/run/              @makotoasai @jrmadsen
/source/event/            @makotoasai @jrmadsen
/source/digits_hits/      @makotoasai @jrmadsen
/source/processes/scoring @makotoasai @jrmadsen

# Tracking
/source/tracking/ @ts-kek @amakoG4AI @makotoasai

# Particles and Track
# TBA: Hisaya Kurashige
/source/track/     @makotoasai
/source/particles/ @makotoasai

# Geometry and Transport
/source/geometry/                 @gcosmo @jonapost
/source/processes/transportation/ @gcosmo @jonapost

# Generic Processes and Materials
/source/materials/                  @marcverderi @civanch
/source/parameterisations/          @marcverderi
/source/processes/biasing/          @marcverderi @civanch
/source/processes/parameterisation/ @marcverderi @civanch

# Electromagnetic Standard Physics
/source/processes/electromagnetic/highenergy/   @civanch @dsawkey
/source/processes/electromagnetic/muons/        @civanch @dsawkey
/source/processes/electromagnetic/polarisation/ @civanch @dsawkey
/source/processes/electromagnetic/standard/     @civanch @dsawkey
/source/processes/electromagnetic/xrays/        @civanch @dsawkey
/source/processes/optical/                      @civanch @dsawkey

# Low Energy Electromagnetic Physics
/source/processes/electromagnetic/dna/       @sincerti @pandola
/source/processes/electromagnetic/lowenergy/ @sincerti @pandola
/source/processes/electromagnetic/pii/       @sincerti @pandola

# Hadronic Physics
# TBA: Dennis Wright
/source/processes/hadronic/ @AlbertoRibon

# Persistency
/source/persistency/ @gcosmo @WitekPokorski
/source/analysis/    @ihrivnac

# User and Category Interfaces
# TBA: Hajime Yoshida
/source/intercoms/  @koichi-murakami @makotoasai
/source/interfaces/ @koichi-murakami @laurent-garnier
/environments/      @koichi-murakami

# Visualization
/source/graphics_reps/ @laurent-garnier @jiperl @johna1941
/source/visualization/ @laurent-garnier @jiperl @johna1941

# Physics Lists
/source/physics_lists/ @gunterfolger @hanswenzel

# Novice+Extended Examples (Individual Examples assigned to Responsibles)
/examples/basic/    @ihrivnac @ashoward
/examples/novice/   @ihrivnac @ashoward
/examples/extended/ @ihrivnac @ashoward

# Advanced Examples (Can be extended with responsibles per example)
/examples/advanced/ @guatelli @romanofrancesco

# Testing
/tests/ @gunterfolger @whokion

Polycone fixed
  source/persistency/ascii/src/G4tgbVolume.cc
Owners: @gcosmo, @WitekPokorski

Add ptl library link in geant4-config
  cmake/Templates/geant4-config.in
Owners: @drbenmorgan, @gunterfolger

Add G4tasking library link in geant4-config
  cmake/Templates/geant4-config.in
Owners: @drbenmorgan, @gunterfolger

Reset the zero-step counter after valid step in G4RegularNavigation
  source/geometry/navigation/src/G4RegularNavigation.cc
Owners: @gcosmo, @jonapost

Fixed indentation in G4RegularNavigation.cc
  source/geometry/navigation/src/G4RegularNavigation.cc
Owners: @gcosmo, @jonapost

Optical tags added to text geometry
  examples/extended/optical/OpNovice/OpNovice.cc
  examples/extended/optical/OpNovice/README
  examples/extended/optical/OpNovice/include/OpNoviceTGDetectorConstruction.hh
  examples/extended/optical/OpNovice/src/OpNoviceDetectorMessenger.cc
  examples/extended/optical/OpNovice/src/OpNoviceTGDetectorConstruction.cc
  examples/extended/optical/OpNovice/textgeom/NoviceExample.tg
  source/persistency/ascii/include/G4tgbBorderSurface.hh
  source/persistency/ascii/include/G4tgbGeometryDumper.hh
  source/persistency/ascii/include/G4tgbMaterialMgr.hh
  source/persistency/ascii/include/G4tgbMaterialPropertiesTable.hh
  source/persistency/ascii/include/G4tgrBorderSurface.hh
  source/persistency/ascii/include/G4tgrMaterialFactory.hh
  source/persistency/ascii/include/G4tgrMaterialPropertiesTable.hh
  source/persistency/ascii/include/G4tgrVolumeMgr.hh
  source/persistency/ascii/sources.cmake
  source/persistency/ascii/src/G4tgbBorderSurface.cc
  source/persistency/ascii/src/G4tgbDetectorBuilder.cc
  source/persistency/ascii/src/G4tgbGeometryDumper.cc
  source/persistency/ascii/src/G4tgbMaterialMgr.cc
  source/persistency/ascii/src/G4tgbMaterialPropertiesTable.cc
  source/persistency/ascii/src/G4tgrBorderSurface.cc
  source/persistency/ascii/src/G4tgrLineProcessor.cc
  source/persistency/ascii/src/G4tgrMaterialFactory.cc
  source/persistency/ascii/src/G4tgrMaterialPropertiesTable.cc
Owners: @ihrivnac, @ashoward, @gcosmo, @WitekPokorski

Adding .idea/ (for CLion IDE) into .gitignore.
  .gitignore
Owners: none

Fix macroPath not influencing macro commands if and strif
  source/intercoms/src/G4UIcontrolMessenger.cc
Owners: @koichi-murakami, @makotoasai

Check if user input the optical properties data with photon energies are in descending order. Throw a warning if that is the case.
  source/materials/src/G4MaterialPropertiesTable.cc
Owners: @marcverderi, @civanch

Fix use of uninitialized memory in zlib.
  source/externals/zlib/src/deflate.c
Owners: none
