Repository Geant4/geant4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drbenmorgan, @gunterfolger, @gcosmo, @makotoasai, @ts-kek, @shogo0416, @jonapost, @marcverderi, @civanch, @pandola, @dsawkey, @sincerti, @AlbertoRibon, @WitekPokorski, @ihrivnac, @koichi-murakami, @laurent-garnier, @jiperl, @johna1941, @hanswenzel, @ashoward, @guatelli, @romanofrancesco, @whokion, @arceciemat

Update HepMCG4PythiaInterface.cc
  examples/extended/eventgenerator/HepMC/HepMCEx01/src/HepMCG4PythiaInterface.cc
Owners: @ihrivnac, @ashoward

Update HepMCG4PythiaInterface.cc
  examples/extended/eventgenerator/HepMC/HepMCEx01/src/HepMCG4PythiaInterface.cc
Owners: @ihrivnac, @ashoward

Update FindPythia6.cmake
  cmake/Modules/FindPythia6.cmake
Owners: @drbenmorgan, @gunterfolger

Suggesting PET simulations as new advanced example
  examples/advanced/PETSim/CMakeLists.txt
  examples/advanced/PETSim/README.md
  examples/advanced/PETSim/include/action.hh
  examples/advanced/PETSim/include/construction.hh
  examples/advanced/PETSim/include/detector.hh
  examples/advanced/PETSim/include/event.hh
  examples/advanced/PETSim/include/generator.hh
  examples/advanced/PETSim/include/physics.hh
  examples/advanced/PETSim/include/run.hh
  examples/advanced/PETSim/reco/reco.C
  examples/advanced/PETSim/run.mac
  examples/advanced/PETSim/sim.cc
  examples/advanced/PETSim/src/action.cc
  examples/advanced/PETSim/src/construction.cc
  examples/advanced/PETSim/src/detector.cc
  examples/advanced/PETSim/src/event.cc
  examples/advanced/PETSim/src/generator.cc
  examples/advanced/PETSim/src/physics.cc
  examples/advanced/PETSim/src/run.cc
  examples/advanced/PETSim/vis.mac
Owners: @guatelli, @romanofrancesco

Update FindPythia6.cmake
  cmake/Modules/FindPythia6.cmake
Owners: @drbenmorgan, @gunterfolger

CI
  .github/alma9
  .github/workflows/publish.yml
Owners: none

CI
  .github/alma9
Owners: none

CI
  .github/alma9
Owners: none

CI
  .github/alma9
Owners: none

CI
  .github/alma9
Owners: none

CI
  .github/workflows/publish.yml
Owners: none

Remove CI as there is a separate MR
  .github/workflows/fedora35/Dockerfile
  .github/workflows/fedora35/action.yaml
  .github/workflows/fedora35/entrypoint.sh
  .github/workflows/main.yml
  .github/workflows/osx/entrypoint.sh
Owners: none

Fix a typo in FindPythia6
  cmake/Modules/FindPythia6.cmake
Owners: @drbenmorgan, @gunterfolger

Update FindPythia8.cmake
  cmake/Modules/FindPythia8.cmake
Owners: @drbenmorgan, @gunterfolger

Update FindPythia8.cmake
  cmake/Modules/FindPythia8.cmake
Owners: @drbenmorgan, @gunterfolger

Update the case of _FOUND variable
  examples/extended/eventgenerator/CMakeLists.txt
Owners: @ihrivnac, @ashoward

More fixes for C2445; for some reason, these passed fine when building in Release configuration, but were flagged in RelWithDebInfo.
  source/geometry/navigation/src/G4Navigator.cc
  source/global/management/src/G4PhysicsModelCatalog.cc
  source/processes/electromagnetic/utils/src/G4EmConfigurator.cc
  source/track/src/G4VParticleChange.cc
Owners: @gcosmo, @jonapost, @drbenmorgan, @gunterfolger, @civanch, @dsawkey, @shogo0416, @makotoasai

Fix for regex-ing over filenames that contain regex-special characters, by simply escaping every character. Dirty, but legal.
  cmake/Modules/G4DeveloperAPI.cmake
Owners: @drbenmorgan, @gunterfolger

Improve perf of Legendre polynomial calculations
  source/processes/hadronic/models/de_excitation/photon_evaporation/src/G4PolarizationTransition.cc
  source/processes/hadronic/util/include/G4LegendrePolynomial.hh
  source/processes/hadronic/util/src/G4LegendrePolynomial.cc
Owners: @AlbertoRibon

fix MacOS compiler errors
  source/analysis/management/include/G4THnToolsManager.icc
  source/digits_hits/hits/include/G4THitsMap.hh
Owners: @ihrivnac, @makotoasai, @drbenmorgan

G4ParticleMessenger: fix incorrect GetCurrentValue implementation for /particle/select
  source/particles/management/include/G4ParticleMessenger.hh
  source/particles/management/src/G4ParticleMessenger.cc
Owners: @shogo0416, @makotoasai

G4tgrFileIn: added some preprocessor-like conditionals
  source/persistency/ascii/include/G4tgrFileIn.hh
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: added replacement of macro-expressions
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileReader: added skipping of ignored lines
  source/persistency/ascii/src/G4tgrFileReader.cc
Owners: @gcosmo, @WitekPokorski

G4tgrLineProcessor: fixed crash by catching empty word lists
  source/persistency/ascii/src/G4tgrLineProcessor.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: no macro replacements for empty macros and preproc-directives
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: support for checking parameters in #ifdef and #ifndef
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileReader: code cosmetics
  source/persistency/ascii/src/G4tgrFileReader.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: fixed bugs in original file
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: support for nested #if and block checking
  source/persistency/ascii/include/G4tgrFileIn.hh
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

Update DetectorMessenger.hh
  examples/extended/medical/dna/dnaphysics/include/DetectorMessenger.hh
Owners: @ihrivnac, @ashoward

bugfixes - missing GetMaterial() in G4DNAPTBElasticModel.cc and G4DNAExcitationModel.cc in their respective SampleSecondaries() methods; missing value for nitrogen in G4DNAPTBIonisationStructure.cc
  source/processes/electromagnetic/dna/models/src/G4DNAPTBElasticModel.cc
  source/processes/electromagnetic/dna/models/src/G4DNAPTBExcitationModel.cc
  source/processes/electromagnetic/dna/utils/src/G4DNAPTBIonisationStructure.cc
Owners: @sincerti, @pandola

fix a typo (that can cause build failure)
  source/externals/g4tools/include/tools/wroot/columns.icc
Owners: @gcosmo, @drbenmorgan, @gunterfolger

fix(processes/scoring): get phantom param from step
  source/processes/scoring/include/private/G4EnergySplitter.hh
  source/processes/scoring/include/private/G4EnergySplitter.icc
  source/processes/scoring/src/G4EnergySplitter.cc
Owners: @makotoasai, @drbenmorgan

add modelID and creation time
  source/global/management/src/G4PhysicsModelCatalog.cc
  source/processes/hadronic/models/de_excitation/fermi_breakup_an/include/G4FermiBreakUpAN.hh
  source/processes/hadronic/models/de_excitation/fermi_breakup_an/src/G4FermiBreakUpAN.cc
Owners: @gcosmo, @drbenmorgan, @gunterfolger, @AlbertoRibon

Interface rewritten to use C bindings
  examples/extended/parallel/MPI/README.md
  examples/extended/parallel/MPI/source/CMakeLists.txt
  examples/extended/parallel/MPI/source/include/G4MPImanager.hh
  examples/extended/parallel/MPI/source/include/G4MPIscorerMerger.hh
  examples/extended/parallel/MPI/source/include/G4VUserMPIrunMerger.hh
  examples/extended/parallel/MPI/source/src/G4MPIhistoMerger.cc
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
  examples/extended/parallel/MPI/source/src/G4MPIscorerMerger.cc
  examples/extended/parallel/MPI/source/src/G4VUserMPIrunMerger.cc
Owners: @ihrivnac, @ashoward

Fix macro parsing
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
Owners: @ihrivnac, @ashoward

Changed MPI::INIT to MPI_INIT C binding
  examples/extended/parallel/MPI/examples/exMPI03/src/RunMerger.cc
  examples/extended/parallel/MPI/examples/exMPI04/src/RunMerger.cc
Owners: @ihrivnac, @ashoward

Remove unnecessary comment as suggested by drbenmorgan
  examples/extended/parallel/MPI/source/include/G4MPIscorerMerger.hh
  examples/extended/parallel/MPI/source/src/G4MPIhistoMerger.cc
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
  examples/extended/parallel/MPI/source/src/G4MPIscorerMerger.cc
Owners: @ihrivnac, @ashoward

Fixed license
  examples/extended/parallel/MPI/source/include/G4MPIscorerMerger.hh
Owners: @ihrivnac, @ashoward

.github/CODEOWNERS:

# Codeowners for Geant4 (GitHub Version)
# Maps directories to Working Group Coordinators

# Software Management
/CMakeLists.txt @drbenmorgan
/cmake/         @drbenmorgan @gunterfolger
/config/        @gcosmo @drbenmorgan
/ReleaseNotes/  @gcosmo
/source/global/ @gcosmo @drbenmorgan @gunterfolger

# Run, Event, and Detector Response
/source/run/              @makotoasai @drbenmorgan
/source/event/            @makotoasai @drbenmorgan
/source/digits_hits/      @makotoasai @drbenmorgan
/source/processes/scoring @makotoasai @drbenmorgan

# Tracking
/source/tracking/ @ts-kek @shogo0416 @makotoasai

# Particles and Track
# TBA: Hisaya Kurashige
/source/track/     @shogo0416 @makotoasai
/source/particles/ @shogo0416 @makotoasai

# Geometry and Transport
/source/geometry/                 @gcosmo @jonapost
/source/processes/transportation/ @gcosmo @jonapost

# Generic Processes and Materials
/source/materials/                  @marcverderi @civanch
/source/parameterisations/          @marcverderi
/source/parameterisations/channeling/ @pandola
/source/parameterisations/gflash/   @marcverderi
/source/processes/biasing/          @marcverderi @civanch
/source/processes/parameterisation/ @marcverderi @civanch

# Electromagnetic Standard Physics
/source/processes/electromagnetic/              @civanch @dsawkey
/source/processes/electromagnetic/highenergy/   @civanch @dsawkey
/source/processes/electromagnetic/muons/        @civanch @dsawkey
/source/processes/electromagnetic/polarisation/ @civanch @dsawkey
/source/processes/electromagnetic/standard/     @civanch @dsawkey
/source/processes/electromagnetic/xrays/        @civanch @dsawkey
/source/processes/optical/                      @civanch @dsawkey

# Low Energy Electromagnetic Physics
/source/processes/electromagnetic/dna/       @sincerti @pandola
/source/processes/electromagnetic/lowenergy/ @sincerti @pandola
/source/processes/electromagnetic/pii/       @sincerti @pandola

# Hadronic Physics
# TBA: Dennis Wright
/source/processes/hadronic/ @AlbertoRibon

# Persistency
/source/persistency/ @gcosmo @WitekPokorski
/source/analysis/    @ihrivnac

# User and Category Interfaces
/source/intercoms/  @koichi-murakami @makotoasai
/source/interfaces/ @koichi-murakami @laurent-garnier
/environments/      @drbenmorgan @koichi-murakami

# Visualization
/source/graphics_reps/ @laurent-garnier @jiperl @johna1941
/source/visualization/ @laurent-garnier @jiperl @johna1941

# Physics Lists
/source/physics_lists/ @gunterfolger @hanswenzel

# Novice+Extended Examples (Individual Examples assigned to Responsibles)
/examples/basic/    @ihrivnac @ashoward
/examples/novice/   @ihrivnac @ashoward
/examples/extended/ @ihrivnac @ashoward

# Advanced Examples (Can be extended with responsibles per example)
/examples/advanced/ @guatelli @romanofrancesco

# Testing
/tests/ @gunterfolger @whokion

# Other
/source/error_propagation/     @arceciemat
/source/externals/             @gcosmo @drbenmorgan @gunterfolger
