Repository Geant4/geant4, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drbenmorgan, @gunterfolger, @gcosmo, @makotoasai, @ts-kek, @shogo0416, @jonapost, @marcverderi, @civanch, @pandola, @dsawkey, @sincerti, @AlbertoRibon, @WitekPokorski, @ihrivnac, @koichi-murakami, @laurent-garnier, @jiperl, @johna1941, @hanswenzel, @ashoward, @guatelli, @romanofrancesco, @whokion, @arceciemat

removed unecessary function
  examples/extended/parallel/MPI/source/include/G4MPIscorerMerger.hh
Owners: @ihrivnac, @ashoward

Removed useless comment, fixed provided_ check in constructor
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
Owners: @ihrivnac, @ashoward

Updated History
  examples/extended/parallel/MPI/History
Owners: @ihrivnac, @ashoward

G4tgrLineProcessor: member for current file
  source/persistency/ascii/include/G4tgrLineProcessor.hh
Owners: @gcosmo, @WitekPokorski

G4tgrFileReader: set current file
  source/persistency/ascii/src/G4tgrFileReader.cc
Owners: @gcosmo, @WitekPokorski

G4tgrFileIn: find files based on relative path
  source/persistency/ascii/include/G4tgrFileIn.hh
  source/persistency/ascii/src/G4tgrFileIn.cc
Owners: @gcosmo, @WitekPokorski

Raise exception as per https://github.com/Geant4/geant4/pull/81#discussion_r1973415840
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
Owners: @ihrivnac, @ashoward

Restore as it was, keep 10.2.0 minimum requirement, but this should be tested against 10.2.0
  examples/extended/parallel/MPI/source/CMakeLists.txt
Owners: @ihrivnac, @ashoward

Update as suggested by drbenmorgan
  examples/extended/parallel/MPI/source/include/G4MPImanager.hh
Owners: @ihrivnac, @ashoward

Removed uniused variable from parser
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
Owners: @ihrivnac, @ashoward

Fix parser in case arguments are too short
  examples/extended/parallel/MPI/source/src/G4MPImanager.cc
Owners: @ihrivnac, @ashoward

Add header guard for G4TMagFieldEquation.hh
  source/geometry/magneticfield/include/G4TMagFieldEquation.hh
Owners: @gcosmo, @jonapost

add modelID and creation time
  source/processes/hadronic/models/de_excitation/fermi_breakup_an/src/G4FermiBreakUpAN.cc
Owners: @AlbertoRibon

change disclaimer
  source/processes/hadronic/models/de_excitation/fermi_breakup/include/G4FermiBreakUpAN.hh
  source/processes/hadronic/models/de_excitation/fermi_breakup/include/G4FermiNucleiProperties.hh
  source/processes/hadronic/models/de_excitation/fermi_breakup/src/G4FermiBreakUpAN.cc
  source/processes/hadronic/models/de_excitation/fermi_breakup/src/G4FermiNucleiProperties.cc
Owners: @AlbertoRibon

Update G4EmTableType.hh
  source/processes/electromagnetic/utils/include/G4EmTableType.hh
Owners: @civanch, @dsawkey

Add cmake option to set soversion for shared libs.
  cmake/Modules/G4BuildSettings.cmake
  cmake/Modules/G4DeveloperAPI.cmake
Owners: @drbenmorgan, @gunterfolger

Doc: replace the URL root.cern.ch with root.cern
  examples/advanced/ChargeExchangeMC/src/CexmcHistoWidget.cc
  examples/advanced/brachytherapy/README
  examples/advanced/exp_microdosimetry/README
  examples/advanced/xray_SiliconPoreOptics/README.txt
  examples/advanced/xray_TESdetector/README.txt
  examples/extended/analysis/AnaEx02/.README.txt
  examples/extended/analysis/AnaEx02/README
  examples/extended/eventgenerator/pythia/decayer6/include/EDecayType.hh
  examples/extended/eventgenerator/pythia/decayer6/include/G4Pythia6Decayer.hh
  examples/extended/eventgenerator/pythia/decayer6/include/Pythia6.hh
  examples/extended/eventgenerator/pythia/decayer6/src/G4Pythia6Decayer.cc
  examples/extended/eventgenerator/pythia/decayer6/src/Pythia6.cc
  examples/extended/eventgenerator/pythia/decayer6/src/pythia6_common_address.c
  examples/extended/medical/dna/svalue/spectrum.C
  source/analysis/History
  source/analysis/History.fix-auto
  source/processes/hadronic/models/inclxx/incl_physics/src/G4INCLClusterDecay.cc
Owners: @guatelli, @romanofrancesco, @ihrivnac, @ashoward, @AlbertoRibon

Basic Xr driver and tinygltf and cpp-httplib compilation
  cmake/Modules/G4InterfaceOptions.cmake
  cmake/Templates/Geant4Config.cmake.in
  source/externals/CMakeLists.txt
  source/externals/cpp-httplib/CMakeLists.txt
  source/externals/cpp-httplib/README
  source/externals/cpp-httplib/httplib.h
  source/externals/tinygltf/CMakeLists.txt
  source/externals/tinygltf/README
  source/externals/tinygltf/json.hpp
  source/externals/tinygltf/stb_image.h
  source/externals/tinygltf/stb_image_write.h
  source/externals/tinygltf/tiny_gltf.h
  source/visualization/CMakeLists.txt
  source/visualization/Xr/CMakeLists.txt
  source/visualization/Xr/README
  source/visualization/Xr/include/G4Xr.hh
  source/visualization/Xr/include/G4XrQt.hh
  source/visualization/Xr/include/private/G4XrQtViewer.hh
  source/visualization/Xr/include/private/G4XrSceneHandler.hh
  source/visualization/Xr/include/private/G4XrViewer.hh
  source/visualization/Xr/sources.cmake
  source/visualization/Xr/src/G4Xr.cc
  source/visualization/Xr/src/G4XrQt.cc
  source/visualization/Xr/src/G4XrQtViewer.cc
  source/visualization/Xr/src/G4XrSceneHandler.cc
  source/visualization/Xr/src/G4XrViewer.cc
  source/visualization/management/include/G4VisExecutive.icc
Owners: @drbenmorgan, @gunterfolger, @gcosmo, @laurent-garnier, @jiperl, @johna1941

Fix: Patch for the Gammaknife example in Geant4 v11.3.2
  examples/advanced/gammaknife/defaultMacro.mac
Owners: @guatelli, @romanofrancesco

Add VitePress documentation site with GitHub Pages deployment
  .github/workflows/deploy-docs.yml
  docs/.gitignore
  docs/.vitepress/config.js
  docs/README.md
  docs/architecture.md
  docs/getting-started.md
  docs/index.md
  docs/package-lock.json
  docs/package.json
  docs/reference/build-system.md
  docs/reference/contributing.md
  docs/reference/index.md
  docs/reference/source-modules.md
Owners: none

Prevent memleak when clearing secondaries
  source/processes/hadronic/util/include/G4HadFinalState.hh
Owners: @AlbertoRibon

.github/CODEOWNERS:

# Codeowners for Geant4 (GitHub Version)
# Maps directories to Working Group Coordinators

# Software Management
/CMakeLists.txt @drbenmorgan
/cmake/         @drbenmorgan @gunterfolger
/config/        @gcosmo @drbenmorgan
/ReleaseNotes/  @gcosmo
/source/global/ @gcosmo @drbenmorgan @gunterfolger

# Run, Event, and Detector Response
/source/run/              @makotoasai @drbenmorgan
/source/event/            @makotoasai @drbenmorgan
/source/digits_hits/      @makotoasai @drbenmorgan
/source/processes/scoring @makotoasai @drbenmorgan

# Tracking
/source/tracking/ @ts-kek @shogo0416 @makotoasai

# Particles and Track
# TBA: Hisaya Kurashige
/source/track/     @shogo0416 @makotoasai
/source/particles/ @shogo0416 @makotoasai

# Geometry and Transport
/source/geometry/                 @gcosmo @jonapost
/source/processes/transportation/ @gcosmo @jonapost

# Generic Processes and Materials
/source/materials/                  @marcverderi @civanch
/source/parameterisations/          @marcverderi
/source/parameterisations/channeling/ @pandola
/source/parameterisations/gflash/   @marcverderi
/source/processes/biasing/          @marcverderi @civanch
/source/processes/parameterisation/ @marcverderi @civanch

# Electromagnetic Standard Physics
/source/processes/electromagnetic/              @civanch @dsawkey
/source/processes/electromagnetic/highenergy/   @civanch @dsawkey
/source/processes/electromagnetic/muons/        @civanch @dsawkey
/source/processes/electromagnetic/polarisation/ @civanch @dsawkey
/source/processes/electromagnetic/standard/     @civanch @dsawkey
/source/processes/electromagnetic/xrays/        @civanch @dsawkey
/source/processes/optical/                      @civanch @dsawkey

# Low Energy Electromagnetic Physics
/source/processes/electromagnetic/dna/       @sincerti @pandola
/source/processes/electromagnetic/lowenergy/ @sincerti @pandola
/source/processes/electromagnetic/pii/       @sincerti @pandola

# Hadronic Physics
# TBA: Dennis Wright
/source/processes/hadronic/ @AlbertoRibon

# Persistency
/source/persistency/ @gcosmo @WitekPokorski
/source/analysis/    @ihrivnac

# User and Category Interfaces
/source/intercoms/  @koichi-murakami @makotoasai
/source/interfaces/ @koichi-murakami @laurent-garnier
/environments/      @drbenmorgan @koichi-murakami

# Visualization
/source/graphics_reps/ @laurent-garnier @jiperl @johna1941
/source/visualization/ @laurent-garnier @jiperl @johna1941

# Physics Lists
/source/physics_lists/ @gunterfolger @hanswenzel

# Novice+Extended Examples (Individual Examples assigned to Responsibles)
/examples/basic/    @ihrivnac @ashoward
/examples/novice/   @ihrivnac @ashoward
/examples/extended/ @ihrivnac @ashoward

# Advanced Examples (Can be extended with responsibles per example)
/examples/advanced/ @guatelli @romanofrancesco

# Testing
/tests/ @gunterfolger @whokion

# Other
/source/error_propagation/     @arceciemat
/source/externals/             @gcosmo @drbenmorgan @gunterfolger
